{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div data-controller="fullcalendar" style="margin: 20px;">
        <!-- Le calendrier apparaîtra ici -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }} {# Ou ton JS principal #}
{% endblock %}
